<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Cogito</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body>
<div class = "back">
<div class="container-fulid">
<div class="jodan_block">
	<br>
	<%= image_tag('hakohugu.png',:class => "hugu") %>
	
	<%= image_tag('title.png',:class => "title") %><br><br><br>
	<%= image_tag('steps.png' ,:class => "step") %>
	<br><br>
</div>
<div class = "gedan_block">
	<br><br>
<%= form_for(:session, url: login_path) do |f| %>
			<div class="form-group">
			  <%= f.label :eメール %>
			  <%= f.email_field :email , class: 'form-control ' %>
			</div>
			<div class="form-group">
				 <%= f.label :password %>
				 <%= f.password_field :password , class: 'form-control ' %>
			</div>
			<div class="form-group">
			  <%= f.submit "ログイン", class: "btn btn-primary" %>
			</div>
		 
  <% end %>

    <p>アカウントの新規作成は <%= link_to "こちら", new_user_path %></p>
</div>
</div>
</div>
</body>
</html>