<%= form_for @template do |f| %>


<div class="form-group">
    <%= f.label :title, "アシスタント名" ,class: 'font-weight-bold'%>
    <% if @parents_template%>
      <%= f.text_field :title, class: 'form-control',value: @parents_template.title%>
    <% else %>
      <%= f.text_field :title, class: 'form-control'%>
    <%end%>
</div>


<div class="form-group">
  <%= f.label :title, "アシスタント画像" ,class: 'font-weight-bold' %>
  <br>
  <%if @template.picture?%>
    <%if Rails.env.production?%>
      <%= cl_image_tag(@template.picture,:class => 'ass-pic')%>
    <%else%>
	  <%= image_tag @template.picture.url,:class => 'ass-pic'%>
    <%end%>
  <%end%>
  <br>
  <span class = "picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
</div>

<div class="form-group">
  <%= f.label :topic, "概要" ,class: 'font-weight-bold'%>
  <p>
    誰がどんな目的で何をすることを助けるアシスタントなのかの説明
  </p>
  <% if @parents_template%>
    <%= f.text_field :topic, class: 'form-control',value: @parents_template.topic%>
  <% else %>
      <%= f.text_field :topic, class: 'form-control'%>
  <%end%>
</div>

<div class="form-group">
  <%= fields_for @category do |i| %>
    <%= i.label :name, "カテゴリ" ,class: 'font-weight-bold'%>
    <% if @parents_template%>
      <%= i.text_field :name ,class: 'form-control',value: @parents_template.category.name%>
    <% else %>
      <%= i.text_field :name ,class: 'form-control'%>
    <%end%>
  <% end %>

</div>

<h3>質問</h3>

<div id="questions">
  <% if @parents_template%>
    <%@questions.each do |q|%>
      <div class="nested-fields">
        <div class="form-group">
          <%= f.label :qtext, "質問" ,class: 'font-weight-bold' %>
          <%= f.text_field :qtext, class: 'form-control' ,value: q.qtext%>
          <br/>
          <%= f.label :qdetail, "質問の意図や意味" ,class: 'font-weight-bold'%>
          <%= f.text_field :qdetail, class: 'form-control' ,value: q.qdetail%>
          <br/>
          <%= f.label :example, "回答例" ,class: 'font-weight-bold'%>
          <%= f.text_field :example, class: 'form-control' ,value: q.example%>
          <br/>
        </div>
      <%= link_to_remove_association "この質問を削除", f ,class: 'btn btn-danger mb-5'%>
      </div>
    <% end %>

    <%= f.fields_for :questions do |question| %>
      <%= render 'question_fields', f: question %>
    <% end %>

    <div class="links">
      <%= link_to_add_association '+質問を追加', f, :questions, class: 'btn btn-light mb-5'%>
    </div>
  <% else %>
    <div class="links">
      <%= link_to_add_association '+質問を追加', f, :questions, class: 'btn btn-light mb-5'%>
    </div>
  <%end%>
</div>

<div class="actions">
  <%= f.submit @submit, class: "btn btn-primary mb-5"%>
</div>
<% end %>

<script>
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('ファイルサイズが上限の5MBを超えています。');
    }
  });
</script>