<%= form_for @template do |f| %>
<div class="field">
  <%= f.label :title, "テンプレートタイトル" %>
  <%= f.text_field :title%>
</div>

<!-- ここから ログイン実装までの決め打ちのuserID-->
<div class="field">
  <%= f.hidden_field(:user_id, :value => 1)%>

</div>
<!-- ここまで ログイン実装までの決め打ちのuserID-->

<div class="field">
  <%= f.label :category_id, "カテゴリ" %>
  <%= f.collection_select(:category_id, Category.all, :id, :name) %>
</div>

<h3>質問</h3>
<div id="questions">
  <%= f.fields_for :questions do |question| %>
  <%= render 'question_fields', f: question %>
<% end %>
<div class="links">
  <%= link_to_add_association 'add question', f, :questions %>
</div>
</div>

<div class="actions">
<%= f.submit "作成する" %>
</div>

<% end %>