<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-4">すべてのアシスタント</h2>


      <!-- 検索 -->
      <div class='mb-4'>
        <%= form_tag(templates_path, :method => 'get') do %>
        <div class="form-row">
          <div class="col">
            <%= text_field_tag :search ,'',:class => 'form-control',:placeholder =>'アシスタントを検索' %>
          </div>
          <div class="col">
          <%= button_tag '検索', class: 'btn btn-primary' %>
          </div>
        </div>
        <% end %>
      </div>

      <div class="card-deck">
        <% @templates.each do |template| %>
        <div class="col-md-3">
          <div class="card img-thumbnail">
            <%if template.picture?%>
              <%= image_tag template.picture.url, :class => 'ass-pic card-img-top'%>
            <%else%>
              <%= image_tag 'hakohugu 200X200.png', :class => 'ass-pic card-img-top'%>
            <%end%>
            <div class="card-body px-2 py-3 border-top">
              <h5 class="card-title">
                <%= link_to template.title ,template_path(template.id), data: {"turbolinks" => false}%>
              </h5>
              <p style="font-size:5%;">カテゴリ</p>
              <p style="font-size:5%;">・
                  <%= template.category.name%>
              </p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <br>

      <%= will_paginate(:renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      <br>

      <h2>マイアシスタント</h2>
      <div class="my_unreleased">
        <h3>未公開</h3>
        <div class="card-deck">
          <% @my_templates_unreleased.each do |template_u| %>
          <div class="col-md-3">
            <div class="card img-thumbnail">
              <%if template_u.picture?%>
                <% puts 'foooo' %>
                <%= image_tag template_u.picture.url , :class => 'ass-pic card-img-top'%>
              <%else%>
                <%= image_tag 'hakohugu 200X200.png', :class => 'ass-pic card-img-top'%>
              <%end%>
              <div class="card-body px-2 py-3 border-top">
                <h5 class="card-title">
                  <%= link_to template_u.title ,template_path(template_u.id), data: {"turbolinks" => false}%>
                </h5>
                <p style="font-size:5%;">カテゴリ</p>
                <p style="font-size:5%;">・
                  <%= template_u.category.name%>
              </p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="my_released">
        <h3>公開済</h3>
        <div class="card-deck">
          <% @my_templates_released.each do |template| %>
          <div class="col-md-3">
            <div class="card img-thumbnail">
              <%if template.picture?%>
              <%= image_tag template.picture.url , :class => 'ass-pic card-img-top'%>
              <%else%>
              <%= image_tag 'hakohugu 200X200.png', :class => 'ass-pic card-img-top'%>
              <%end%>
              <div class="card-body px-2 py-3 border-top">
                <h5 class="card-title">
                  <%= link_to template.title ,template_path(template.id), data: {"turbolinks" => false}%>
                </h5>
                <p style="font-size:5%;">カテゴリ</p>
                <p style="font-size:5%;">・
                  <%= template.category.name%>
              </p>                
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>