<div class="container">
  <!--indexからコピペ-->
  <div class="starter-template">
    <h1>ユーザ情報編集</h1>
  </div>

   <!-- エラーメッセージを表示 -->
  <% if flash[:alert] %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    </div>
  <% end %>

  <!--ここから「入力フォーム」-->
  <%= form_for @user do |f| %>

    <%= render 'shared/error_messages' %>

    <div class="form-group">
      <%= f.label :名前 %>
      <%= f.text_field :name , class: 'form-control'%>
    </div>
	
	<div class="form-group">
      <%= f.label :プロフィール %>
      <%= f.text_area :bio , class: 'form-control',size: '10x5'%>
    </div>
	
	<div class="form-group">
      <%= f.label :ホームページ、SNS %>
      <%= f.text_field :link1 , class: 'form-control'%>
    </div>
	
	
	<div class="form-group">
     <%= f.label :プロフィール画像%>
     <br>
     <br>
     <span class = "picture">
       <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
     </span>
    </div>

    <div class="form-group">
      <%= f.submit @submit, class: "btn btn-primary" %>
    </div>

  <% end %>

</div>