<div class="container">
  <div class="starter-template">
    <h1>Sign up</h1>
  </div>

  <%= form_for(@user) do |f| %>

    <%= render 'shared/error_messages' %>

    <div class="form-group">
      <%= f.label :名前 %>
      <%= f.text_field :name , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :eメール %>
      <%= f.email_field :email , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :パスワード %>
      <%= f.password_field :password , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :パスワードの確認%>
      <%= f.password_field :password_confirmation , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>