<div class="container">
  <div class="starter-template">
    <h1>ユーザー新規作成</h1>
  </div>

  <%= form_for(@user,url: '/users/new') do |f| %>

    <%= render 'shared/error_messages' %>

    <div class="form-group">
      <%= f.label :名前 %>
      <%= f.text_field :name , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :パスワード %>
      <%= f.password_field :password , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :パスワードの確認%>
      <%= f.password_field :password_confirmation , class: 'form-control'%>
    </div>
	
	<div class="form-group">
      <%= f.label :プロフィール %>
      <%= f.text_area :bio , class: 'form-control'%>
    </div>
	
	<div class="form-group">
      <%= f.label :ホームページ、SNS  %>
      <%= f.text_field :link1 , class: 'form-control'%>
    </div>
	
	
	<div class="form-group">
     <%= f.label :プロフィール画像%>
     <br>
     <br>
     <span class = "picture">
       <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
     </span>
    </div>

    <div class="form-group">
      <%= f.submit "アカウントの作成", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>