<div class="container">
  <div class="row">
    <div class=col-4>
      <div class="card img-thumbnail">
        <%if @user.picture?%>
        <%= cl_image_tag(@user.picture)%>
        <%else%>
        <%= image_tag 'hakohugu2 200X200.png'%>
        <%end%>
        <div class="card-body px-2 py-3 border-top">
          <h5 class="card-title">名前:
            <%= @user.name %>
          </h5>
          <% if current_user?(@user)%>
          <p class="card-text">メール:
            <%= @user.email %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class=col-8>
      <% if current_user?(@user)%>
      <h2 class='mt-3'>自分の作成したアシスタント</h2>
      <% else %>
      <h2 class='mt-3'>
        <%=@user.name%>の作成したアシスタント</h2>
      <%end%>

      <% if current_user?(@user)%>
      <div class="my_unreleased">
        <h3>未公開</h3>
        <div class="card-deck">
          <% @my_templates_unreleased.each do |template_u| %>
          <div class="col-md-3">
            <div class="card img-thumbnail">
              <%if template_u.picture?%>
              <%= cl_image_tag(template_u.picture)%>
              <%else%>
              <%= image_tag 'hakohugu 200X200.png'%>
              <%end%>
              <div class="card-body px-2 py-3 border-top">
                <h5 class="card-title">
                  <%= link_to template_u.title ,template_path(template_u.id), data: {"turbolinks" => false}%>
                </h5>
                <p style="font-size:5%;">カテゴリ</p>
                <p style="font-size:5%;">・
                  <%= template_u.category.name%>
                </p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <%end%>

      <div class="my_released">
        <h3>公開済</h3>
        <div class="card-deck">
          <% @my_templates_released.each do |template| %>
          <div class="col-md-3">
            <div class="card img-thumbnail">
              <%if template.picture?%>
              <%= cl_image_tag(template.picture)%>
              <%else%>
              <%= image_tag 'hakohugu 200X200.png'%>
              <%end%>
              <div class="card-body px-2 py-3 border-top">
                <h5 class="card-title">
                  <%= link_to template.title ,template_path(template.id), data: {"turbolinks" => false}%>
                </h5>
                <p style="font-size:5%;">カテゴリ</p>
                <p style="font-size:5%;">・
                  <%= template.category.name%>
                </p>
                <span id = "template-<%=template.id%>" data-template-id="<%= template.id %>">
                <%= render "likes/like", template: template %>
                </span>  
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>