<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-deck">
                <% @documents.each do |document| %>
                <div class="col-md-3">
                    <div class="card">
                        <%= image_tag 'note_image', :size =>'150x150', :class => 'card-img-top' %>
                        <div class="card-body">
                            <h5 class="card-title">
                                <p>
                                    <%= link_to document.title ,document, data: {"turbolinks" => false}%>
                                </p>
                                <p style="font-size:4px;">アシスタント</p>
                                <p style="font-size:4px;">・
                                    <%= document.template.title %>
                                </p>
                            </h5>
                            <%= link_to "削除" ,document, method: :delete, data: { confirm: "本当にこのノートを削除しますか?" } %>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
            <div style="padding-top: 160px;">
                <%= link_to "+", new_document_path, class: 'btn btn-success rounded-circle p-0 float-right',style: 'width:6rem;height:6rem; font-size:3.5rem;' %>
            </div>
        </div>
    </div>
</div>