<div class="container">
    <div class="starter-template">
        <h1> 新しいアシスタントとのトークを作成します </h1>
    </div>

    <%= form_for(@document) do |f| %>
    <div class="form-group">
        <%= f.label :タイトル %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <% @document.user_id = 1 %>
    <%= f.hidden_field :user_id%>

    <div class="form-group">
        <%= f.label :template_id, "使用するアシスタント" %>
        <%= f.collection_select(:template_id,@templates, :id, :title, {},{:class => "custom-select"}) %>
    </div>

    <%= f.submit "アシスタントとトークを開始", class: "btn btn-primary" %>
    <% end %>
</div>