<%= javascript_pack_tag 'hello_vue' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card mb-md-3">
        <!--<%= image_tag 'kitten.jpg', :size =>'200x200', :class => 'card-img' %>-->
      <%if @template.picture?%>
        <%= cl_image_tag(template.picture)%>
      <%else%>
        <%= image_tag 'hakohugu 200X200.png', :class => 'ass-pic'%>
      <%end%>
      </div>
      <div class="card mb-md-3">
       <p class="card-header font-weight-bold">アシスタント名</p>
        <div class="card-body">
          <div>
            <%= @template.title %>
          </div>
        </div>
      </div>
      <div class="card mb-md-3">
       <p class="card-header font-weight-bold">トピック</p>
        <div class="card-body">
          <div>
          <%= @template.topic %>
          </div>
        </div>
      </div>
      <div class="card mb-md-3">
        <div class="card-body">
        <span class="font-weight-bold"> このアシスタントが気に入ったら、いいねを押してね！→</span>
          <span id = "template-<%=@template.id%>" data-template-id="<%= @template.id %>">
            <%= render "likes/like", template: @template %>
          </span>
        </div>
      </div>
    </div>
    <main role="main" class="col-md-8">
      <div id="app"></div>
    </main>
  </div>
</div>