<div class="container">
<h1>Cogitoのつかい方</h1>
<br>
<h2>Cogitoって何？</h2>
<%= image_tag('steps_help.png') %><br>
就活、研究、制作・・・・・<br>
考え事やアイデアをまとめなければならないけど一体何から始めればいいのかわからない・・・・<br>
アプリCogitoはそんなあなたの力になります。<br>
可愛いアシスタントからの質問に会話感覚だけで答えて行くだけで<br>
アイデアがまとまっちゃいます！
<br>
<br>
<h2>アシスタントを使う</h2>
アシスタントとは他のユーザーによって作られた、質問集です。あなたはそれらの質問に答えて行くだけで、必要項目について整理されたノートが出来上がります。<br><br>

<h4>アシスタントを選ぶ</h4>
まずはアシスタントを選びましょう。ヘッダーの「アシスタントを探す」をクリックしアシスタント一覧ページに行ってみましょう。<br><br>
<%= image_tag('ss1.png',:size => '900x518') %><br><br>

検索機能を使って気になるアシスタントを見つけたら早速トークを開始してみましょう。
<br><br>
<h4>アシスタントとチャットする</h4>
それではアシスタントとトークを開始しましょう。アシスタントを探すのページから好きなアシスタントをクリックすると
そのアシスタントを作った人や質問一覧を見ることができます。
<br><br>
<%= image_tag('ss2.png',:size => '900x518') %><br><br>
「このアシスタントとトーク開始」をクリックしてください。
トーク画面が開いたら早速アシスタントとのトーク開始です。<br>
<br><br>
<%= image_tag('ss3.png',:size => '900x518') %><br><br>
（※音声読み上げ、音声入力はGoogle Chromeのみの対応となります。）<br>
<br>
ある程度質問に答えたら、「回答の編集」タブをクリックしてみてください。<br>
<%= image_tag('ss4.png',:size => '400x415') %>
<br>ノートはこの様に「質問ー回答」の形式で考えがまとまっていきます。
<br>後から回答を編集したい場合にもこのページから行うことができます。
<br><br>
<h4>ノートができたら</h4>
質問に全て答え終わったら、ノートに名前をつけて保存しましょう。<br>
<%= image_tag('ss5.png',:size => '600x67') %><br>
Cogitoではマイノート一覧のページから、作ったノートを人に公開することもできます。<br><br>
<%= image_tag('ss6.png',:size => '200x402') %><br>
アイデアの共有、プレゼンの参考資料などにお役立てください。<br><br>
<h2>アシスタントを作る</h2>
Cogitoでは人の作ったアシスタントを使って自分の考え方をまとめるだけでなく、自分オリジナルのアシスタントを作って人に自分の考え方の”型”を共有することもできます。<br>
”新規アシスタント作成”をクリックしてください。<br>
<%= image_tag('ss7.png',:size => '900x782') %><br>
必要事項を記入したら作成ボタンをクリックしましょう。<br><br>
Cogitoでは作成したアシスタントを一度公開してしまうと消すことができません。<br>
そこで、公開するボタンを押す前にテストボタンを押してアシスタントをテストしてみましょう。<br><br>
<%= image_tag('ss8.png',:size => '900x560') %><br>
<br>
テスト画面では実際にユーザーが使うのと同じ様にアシスタントとチャットをすることができます。<br>
テストが終わったら、テストを終了ボタンを押してもとの画面に戻りましょう。<br>
テストして問題があれば編集ボタンを押してアシスタントの編集を、問題がなければ公開ボタンを押してアシスタントを公開しましょう。
<h4>アシスタントの引用</h4>
「一からアシスタントを作るのは面倒臭い」、もしくは「特定のアシスタントを改良して新しいアシスタントを作りたい」そんな時にはアシスタントの引用機能を使ってみましょう。<br>
<%= image_tag('ss9.png',:size => '450x120') %><br>
アシスタントの詳細画面にある”アシスタントを引用して新規アシスタントの作成”をクリックします。<br>
これでアシスタントの引用は完了です。あとは新規アシスタントを作る際と同じ手順で作りましょう。<br>
<br>
<h2>SNSとの連携</h2>
Cogitoではアシスタントや作成したノートのリンクをSlackとTwitterで共有することができます。
<br>
<%= image_tag('ss10.png',:size => '273x69') %><br>
<br>
研究室などのコミュニティでアイデアをまとめる際のテンプレートとしてCogitoを使ってみてください！
</div>
