<nav class="navbar navbar-expand-md navbar-light fixed-top shadow bg-white">

  <% if logged_in? %>
    <%= link_to 'Cogito' , documents_path , :class => "navbar-brand  text-center text-warning" %>
  <% else %>
    <%= link_to 'Cogito' , '/' , :class => "navbar-brand  text-center text-warning" %>
  <% end %>

  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to 'ノート一覧' , documents_path , :class => 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to '新規ノート作成' , new_document_path , :class => 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to 'アシスタント一覧' , templates_path , :class => 'nav-link' %>
      </li>
      <li class="nav-item active">
        <%= link_to '新規アシスタント作成' , new_template_path , :class => 'nav-link' %>
      </li>
    </ul>

    <% if logged_in? %>
      <figure class="header-img">
        <%if current_user.picture?%>
              <%= image_tag current_user.picture.url, class: 'user-img'%>
        <%else%>
              <%= image_tag 'hakohugu2 200X200.png', class: 'user-img'%>
        <%end%>
      </figure>

      <div class="btn-group">
        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class='h3'><%=current_user.name%></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to 'ユーザーページ', current_user ,class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウト", logout_path, method: "delete" ,class: 'dropdown-item'%>
        </div>
      </div>

    <% else %>
      <span class="navbar-text h3">
        <%= link_to "ログイン", login_path %>
      </span>
    <% end %>
  </div>
</nav>