<nav class="navbar navbar-expand-md navbar-light fixed-top shadow" style="background-color: #009FA4;">

  <% if logged_in? %>
    <%= link_to documents_path  , style:'padding-right: 10px;' do %>
      <%= image_tag "title.png" , :size => "150x50"%>
    <% end %>
  <% else %>
    <%= link_to  '/' , style:'padding-right: 50px;' do%>
       <%= image_tag "title.png" ,:size => "150x50"%>
    <% end %>
  <% end %>

  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="レスポンシブ・ナビゲーションバー">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to 'マイノート一覧' , documents_path , :class => 'nav-link' , :style=>"#{@header_links_color[0]}"%>
      </li>
      <li class="nav-item active">
          <%= link_to 'みんなのノート' , documents_open_path , :class => 'nav-link' , :style=>"#{@header_links_color[1]}"%>
      </li>
      <li class="nav-item active">
          <%= link_to 'アシスタントを探す' , templates_path , :class => 'nav-link', :style=>"#{@header_links_color[2]}" %>
      </li>
      <li class="nav-item active">
          <%= link_to '新規アシスタント作成' , new_template_path , :class => 'nav-link' , :style=>"#{@header_links_color[3]}"%>
      </li>
      <li class="nav-item active">
          <%= link_to 'つかい方' , new_template_path , :class => 'nav-link', :style=>"#{@header_links_color[4]}" %>
      </li>
    </ul>

    <% if logged_in? %>
      <figure class="header-img">
        <%if current_user.picture?%>
		  <%if Rails.env.production?%>
            <%= cl_image_tag(current_user.picture,:class => 'user-img')%>
		  <%else%>
		    <%= image_tag current_user.picture.url,:class => 'user-img'%>
		  <%end%>
        <%else%>
          <%= image_tag 'hakohugu2 200X200.png', class: 'user-img'%>
        <%end%>
      </figure>

      <div class="btn-group">
        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class='h3'><%=current_user.name%></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to 'ユーザーページ', current_user ,class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウト", logout_path, method: "delete" ,class: 'dropdown-item'%>
        </div>
      </div>

    <% else %>
      <span class="navbar-text h3">
        <%= link_to "ログイン", login_path %>
      </span>
    <% end %>
  </div>
</nav>